html{
height:100%;

}
#marsImg{
opacity:.7;
height:44vh;

}
body{
  background-color:black;

}
#mainContentContainer{

    text-align:center;
   
}
.col-sm{
   border-left-style:double;
   border-right-style:double;
   border-width:3px;
   border-color:rgb(143, 95, 97);
    height:40vh;
}
h3{
    display:none;
    margin-bottom:0;}

h1, #imgCaption{
font-family:'Bowlby One SC', 'Kanit', 'Passion One', san-serif;
border-style:dotted;
border-width:2px;
border-color:rgb(255, 151, 151);
color:white;
}
#leftColumnImg{
    max-height:30vh;
    max-width:45vw;
    margin-top:15%;
}
p{
    font-family:'Kanit', 'Bowlby One SC', 'Passion One', san-serif;
    font-size:1em;
    font-weight:bold;
    color:white;
}
#carouselExampleSlidesOnly{
margin-bottom:-5.3em;

}
